@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Asegúrate de que el contenedor tenga un ancho adecuado */
.calendar-container {
  width: 100%; /* O un valor específico */
  height: 100%;
}
/*
/* Agrega esta línea al principio de tu archivo CSS *//*
@import "react-big-calendar/lib/css/react-big-calendar.css";*/
